include includes/head
body.rosters
  include includes/nav
  include includes/teamList
  .row
    .large-12.columns.rosterProfile
      .row.roster-metrics
        .small-3.large-2.columns.playaImage
          img.aPhoto(src='/_imgs/#{school}/#{athletes[0].fullname.split(' ')[1]}' + '_' + '#{athletes[0].fullname.split(' ')[0]}.jpeg')
          p
            a.vProfile(href="/#{school}/rosters/athlete/#{athletes[0]._id}", role='button') View Profile
        .small-9.large-2.columns.playaInfo
          h5.name
            strong
              | #{athletes[0].fullname.split(' ')[0]} 
            strong
              | #{athletes[0].fullname.split(' ')[1]}
          p.position
            strong Position: 
              | #{athletes[0].position}
          p.group
            strong Group: 
              | #{athletes[0].group}
          p.year
            strong Year: 
            | #{athletes[0].year}
        .small-12.large-8.columns
          .row.catBoxes
            each item, key in Metrics
              each value, metric in item[0]
                .small-3.large-3.columns.text-center.catBox
                  h4.cat #{key}
                  .metric= value.val
                  p.lab= labels[metric]
  .row.rosterRow
    .small-12.columns
      table
        thead
          tr
            th First Name
            th Last Name
            th Year
            th Position
            th Group
        tbody
          for athlete in athletes
            tr.rosterTableRow(id= athlete._id)
              td= athlete.fullname.split(' ')[0]
              td= athlete.fullname.split(' ')[1]
              td= athlete.year
              td= athlete.position
              td= athlete.group

  script(src="/_js/ajax/fetchAthlete.js")
 include includes/footer
 script
  $('.rosterTableRow:first').addClass('active');

