/* 
  APE Systems CSS v0.0 MVP

  Table of Contents
  ------------------------------
  Line TBD............Base Rules
  Line TBD..........Layout Rules
  Line TBD..........Module Rules
  Line TBD...........State Rules
  ------------------------------

  Base rules modify global elements across the application 
      EXAMPLE: a{color:white;} is a base rule. 
             .sampleClass a{color:white;} is not, because it
             applies to a specific element that is not global

  Layout rules modify page-specifc elements.
      EXAMPLE: body.profile div {padding:1em;} is a layout 
             rule.button.help {padding:1em;} is not, because 
             it  applies to a reusable element (help button) 
             and not a specific page. Page-specific elements 
             like body.profile button.help {} are okay because
             they are specific to a single page.

  Module rules modify reusable elements.
      EXAMPLE: .button .help {padding:1em;} is a module rule
             .button .help .visible {padding:1em;} is not, 
             because it only applies during a certain state
             and is not resuable.

  State rules are the CSS classes manipulated by JS or 
      EXAMPLE: .notVisible{display:none;} is a state rule a:hover 
             {color:green;} is not, because the hover state is
             specific to an element. Media Queries are included
             as functionally, they are different states and its
             nice to keep them in one place.

  NOTES
    - Search for 'research' to find known problems
    - Search for 'rename' to find know selectors that need renaming
    - This all should be removed for production
    - There is no spoon.

TESTING CRAP */
.testRed {
  background: red !important;
}
.testBlue {
  background: blue !important;
}
.testGreen {
  background: green !important;
}

/*==================
      BASE RULES    
  ==================*/
@font-face {
  font-family: 'alte_din_1451';
  src: url("fonts/din1451alt.eot");
  src: url("fonts/din1451alt.eot?#iefix") format("embedded-opentype"), url("fonts/din1451alt.woff") format("woff"), url("fonts/din1451alt.ttf") format("truetype"), url("fonts/din1451alt.svg#alte_din_1451_mittelschriftRg") format("svg");
  font-weight: 400;
  font-style: normal;
}
html {
  overflow-y: scroll;
  margin-top: 1.5em; /* Shitty Nav fix */
}
body {
  background: #fff;
  color: #222;
  font-family: "alte_din_1451", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}
/* Link Styles */
a {
  color: #9c0012;
  text-decoration: none;
  line-height: inherit;
}
a:hover, a:focus {
  color: #83000f;
}
.dashboard .dashboard > a, .rosters .rosters > a, .training .training > a, .reporting .reporting > a, .admin .admin > a {
  color: #fff;
}
a img {
  border: none;
}
/* Typography, Type Styles */
p {
  font-family: inherit;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}
p aside {
  font-size: .875em;
  line-height: 1.35;
  font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "alte_din_1451", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
}
hr {
  border: solid #9c0012;
  border-width: 4px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}
/* Button Styles */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: .75em;
  padding-right: 1.5em;
  padding-bottom: .8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #9c0012;
  border-color: #69000c;
  color: #fff;
}
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #69000c;
}
button:hover, button:focus, .button:hover, .button:focus {
  color: #fff;
}
button.secondary, .button.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #d0d0d0;
}
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: #333;
}
button.success, .button.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: #fff;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #457a1a;
}
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: #fff;
}
button.alert, .button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: #fff;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #970b0e;
}
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: #fff;
}
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #9c0012;
  border-color: #69000c;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #69000c;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: #fff;
}
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #9c0012;
}
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #d0d0d0;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    color: #333;
}
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
    background-color: #e9e9e9;
}
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #5da423;
  border-color: #457a1a;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #457a1a;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: #fff;
}
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #5da423;
}
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: #fff;
  cursor: default;
  opacity: .6;
  -webkit-box-shadow: none;
  box-shadow: none;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: #fff;
}
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13;
}
/* Form Styles */

/* Error Styles */

/* Table Styles */
table {
  background: #fff;
  margin-bottom: 1.25em;
  border: solid 1px#ddd;
}
table thead, table tfoot {
  background: whitesmoke;
  font-weight: 700;
}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  padding: .5em .625em .625em;
  font-size: .875em;
  color: #222;
  text-align: left;
}
table tr th, table tr td {
  padding: .5625em .625em;
  font-size: .875em;
  color: #222;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: #f9f9f9;
}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
  display: table-cell;
  line-height: 1.125em;
}
table {width: 100%}
table tbody tr:hover {background: rgba(156, 0, 18, .3);}
table tbody tr.active td {color: white;}
table tbody tr.active:hover td {color: white;}

/*====================
      LAYOUT RULES    
  ====================*/ 

/* Login Page */
.login {
  margin-top: 6em;
}
.login .login-form {
  background-color: #F2F2F2;
  text-align: center;
  padding: 2em 0 .5em 0;
  font-size: 28px;
}
.login .login-form label {
  display: none;
}
.login .login-form button {
  width: 100%
}

/* Dashboard Page */
.dashboard .dashboard > a, .rosters .rosters > a, .training .training > a, .reporting .reporting > a, .admin .admin > a {
  color: #fff;
}
.dash-select {
  background-color: #F2F2F2;
  padding: 1em;
}
.dash-select .dash-list {
  list-style-type: none;
  margin: 0;
  padding: 1px 0;
  background-color: #fff;
  min-height: 25em;
  max-height: 25em;
  overflow-y: scroll;
}
.dash-select .dash-list li {
  margin: 3px;
  padding: .4em;
  font-size: 1.4375em;
}
.dash-select .dash-list .ui-selecting {
  background: #ccc;
}
.dash-select .dash-list .ui-selected {
  background: #999;
}

/* Rosters Page */
.rosterProfile {
    min-height: 12.5em;
}
.rosters .roster-metrics {
  /*border: 1px solid black;*/
}
.rosters .roster-name h4 {margin-top: 0;}
.rosters .roster-metrics p {margin-bottom:.1em;}
.rosters .roster-metrics .metric {
  font-size: 4em;
  color:#83000f;
}
.rosters .roster-metrics h4 {
    text-transform: uppercase;
    margin: 0 auto;
}
.rosters .section-container .content .metrics .row {
    background-color: #fff;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.rosters .section-container .content .metrics:last-child {
    margin-bottom: 1em;
}
.rosters .section-container .content .metrics .odd {
    background-color: #999;
}
.rosters .section-container .content .metrics img {
    height: 85px;
}
.rosters .section-container .content .metrics p {
    margin-bottom: 0;
}
.rosters .section-container .content .metrics .metric {
    font-size: 4em;
}
.rosters .section-container section .title a {
    padding-left: 1em;
    padding-right: 1em;
}
.rosters .section-container.tabs section .title {
    border: 0;
    border-right: 1px solid #fff;
    font-size: 1.375em;
    text-transform: uppercase;
}
.rosters .section-container.tabs section.active .title {
    border: 1px solid #CCC;
    border-bottom: 0;
}
.rosterTableRow.active {background: rgba(156, 0, 18, 1);}
.rosterTableRow.active:hover {background: rgba(156, 0, 18, .7);}

/* Profile Page */
.athleteMetrics .title {
    text-transform: uppercase;
    font-size: 1.6rem;
}
.athleteMetrics .section-container>section .title a {
    padding-top: 0;padding-bottom: 0;
}
.athleteProfile h4 {
    margin-bottom: 0;
}
.statRow > .panel {
    min-height: 10em;
    max-height: 10em;
    padding-top: .5em;
    padding-left: 0;
    padding-right: 0;
}
.statRow > .panel:first-child {
    border-left: none;
}
.statRow > .panel:last-child {
    border-right: none;
}
.statRow > .panel h2 {
    font-size: 4rem;
    text-align: center;
    vertical-align: text-bottom;
    color: #555;
}
.statRow > .panel p {
    color: #555;
    min-height: 2.2em;
    max-height: 2.2em;
    text-align: center;
    margin-top: 0 !important;
}
.statRow > .panel.dark{
    background: #555;
    border: 1px solid #383c3a;
}
.statRow > .panel.dark p {
    color:lightgray;
}
.statRow > .panel.dark h2 {
    color:white;
}
.statRow > .panel .negMetric {
    color:red;
}
.statRow > .panel .posMetric {
    color:green;
}
.statRow > .panel .naMetric {
    color:black;
}
.graphIcon {
    cursor: pointer;
}
.graphIcon a {
    background: url('../_imgs/graphIconLightGray.png') no-repeat;
    background-size: 100px 80px;
    background-position: center center;
    display: block;
    margin: 1em auto 0 auto;
}
.panel.dark.graphIcon:hover {
    background:lightgray;
    border:none;
    color:black;
}
.panel.dark.graphIcon:hover a {
    background: url('../_imgs/graphIcon2l.png') no-repeat;
    background-size: 100px 80px;
    background-position: center center;
}
.panel.dark.graphIcon:hover p {
    color:black;
}

/*Training Page*/
.training .athletes {
  height: 28em;
  overflow-y: scroll;
}
.training .athlete {
  margin-top: .5em;
}
.training .athlete .athlete-name, .training .athlete .last-metric {
  padding-top: 1.2em;
}
.training .athlete .input, .training .athlete .buttons {
  padding-top: 0.8em;
}
.training .athlete:nth-of-type(even) {
  background: #F9F9F9;
}
.training .athlete:hover {
  background: rgba(156, 0, 18, 0.4);
}
.training .athlete.active {
  background: rgba(156, 0, 18, 1);
  color: white;
}
.training .athlete.active:hover {background: rgba(156, 0, 18, .7);}

/*Training Table Header*/
.athleteHeader {
  padding: .5em 0;
}
.athleteHeader .hName {
  margin-right: 7.5em;
}
.athleteHeader .hLastMetric {
  margin-right: 4em;
}
.athleteHeader .hUserInputs {
  margin-right: 7.8em;
}
.athleteHeader .hToMeasure {
  margin-right: 7.5em;
}

/*Training Button*/
.edit, .hide {
  float: right;
}
input.measure, input.measured {
  width: 50%;
  float: right;
}
span.measured {
  margin-right: 1.5em;
}

/* Athlete Profile Graph & Chart Styles */
.graphHeader {
    background: #222;
    color: lightgray;
}
.graph .columns {
    padding: 0;
}
.graph h4 {
    margin-bottom: 0;
}
.graphHeader h2 {
    color: white;
    text-align: center;
    margin: .4em auto;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.graphNext {
    margin: .2em 0;
    width: .5rem; 
    height: 1rem;
    display: block;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-left: 1rem solid darkgray;
    float: right;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}
.graphNext:hover {border-left: 1rem solid white;}
.graphPrev {
    margin: .2em 0;
    width: .5rem; 
    height: 1rem;
    display: block;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right:1rem solid darkgray;
    float: left;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}
.graphPrev:hover {border-right:1rem solid white; }
.graph canvas {
    margin: 0 auto;
}

/* 404 Page */
.whoops h1 {
    text-align: center;
    font-size: 17rem;
    line-height: 0;
    margin: .5em 0em;
    color: #83000f;
}
.whoops h3 {
    text-align: center;
    text-transform: uppercase;
}


/*====================
      MODULE RULES    
  ====================*/

/* UI Button !! In Dire Need of Renaming !! */
a.vProfile {
    width: 6.7em;
    text-align: center;
    display: block;
    background: rgba(156, 0, 18, 1);
    color: white;
    padding: .2em .4em;
    border: 1px solid #83000f;
    margin: .5em 0;
}
a.vProfile:hover {
    background: #83000f;
    color:white;
    border: 1px solid rgba(156, 0, 18, 1);
}
a.vProfile:active {
    position: relative;
    right: -1px;
    top: 1px;
}

/* Nav & top bar styles */
.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #383c3a;
  margin-bottom:0;
}
.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}
.top-bar .row {
  max-width: none;
}
.top-bar form, .top-bar input {
  margin-bottom: 0;
}
.top-bar input {
  height: 2.45em;
}
.top-bar .button {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0;
}
.top-bar .title-area {
  position: relative;
}
.top-bar .companyName {
  height: 45px;
  margin: 0;
  font-size: 16px;
}
.top-bar .companyName h1 {
  line-height: 45px;
  font-size: 1.0625em;
  margin: 0;
}
.top-bar .companyName h1 a {
  font-weight: 700;
  color: #929393;
  width: 50%;
  display: block;
  margin-left: .5em;
  padding: 1.5em 2em;
  background: url('../_imgs/APE-logo-nav-2.png') no-repeat;
  -webkit-transition: background .25s ;
  -moz-transition: background .25s ;
  -ms-transition: background .25s ;
  -o-transition: background .25s ;
  transition: background .25s ;
}
.top-bar .companyName:hover h1 a {
  background: url('../_imgs/APE-logo-nav-red.png') no-repeat;
}
.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}
.top-bar .toggle-topbar a {
  color: #929393;
  text-transform: uppercase;
  font-size: .8125em;
  font-weight: 700;
  position: relative;
  display: block;
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
}
.top-bar .toggle-topbar.menu-icon {
  right: 15px;
  top: 50%;
  margin-top: -16px;
  padding-left: 40px;
}
.top-bar .toggle-topbar.menu-icon a {
  text-indent: -48px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: #fff;
}
.top-bar .toggle-topbar.menu-icon a span {
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}
.top-bar.expanded {
  height: auto;
  background: transparent;
}
.top-bar.expanded .title-area {
  background: #383c3a;
}
.top-bar.expanded .toggle-topbar a {
  color: #888;
}
.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px#888, 0 16px 0 1px#888, 0 22px 0 1px#888;
  box-shadow: 0 10px 0 1px#888, 0 16px 0 1px#888, 0 22px 0 1px#888;
}
.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}
.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: #333;
  font-size: 16px;
  margin: 0;
}
.top-bar-section .divider {
  border-bottom: solid 1px #4d4d4d;
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%
}
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #929393;
  padding: 12px 0 12px 0;
  padding-left: 15px;
  font-size: 1.125em;
  font-weight: 400;
  background: #333;
}
.top-bar-section ul li > a:hover {
  background: #2b2b2b;
}
.top-bar-section ul li > a.button {
  background: #9c0012;
  font-size: 1.125em;
}
.top-bar-section ul li > a.button:hover {
  background: #69000c;
}
.top-bar-section ul li > a.button.secondary {
  background: #e9e9e9;
}
.top-bar-section ul li > a.button.secondary:hover {
  background: #d0d0d0;
}
.top-bar-section ul li > a.button.success {
  background: #5da423;
}
.top-bar-section ul li > a.button.success:hover {
  background: #457a1a;
}
.top-bar-section ul li > a.button.alert {
  background: #c60f13;
}
.top-bar-section ul li > a.button.alert:hover {
  background: #970b0e;
}
.top-bar-section ul li.active a {
  background: #2b2b2b;
}
.top-bar-section .has-form {
  padding: 15px;
}
.top-bar-section .has-dropdown {
  position: relative;
}
.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  margin-right: 15px;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}
.top-bar-section .has-dropdown.moved {
  position: static;
}
.top-bar-section .has-dropdown.moved > .dropdown {
  visibility: visible;
}
.top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  z-index: 99;
}
.top-bar-section .dropdown li {
  width: 100%
}
.top-bar-section .dropdown li a {
  font-weight: 400;
  padding: 8px 15px;
}
.top-bar-section .dropdown li.title h5 {
  margin-bottom: 0;
}
.top-bar-section .dropdown li.title h5 a {
  color: #929393;
  line-height: 22.5px;
  display: block;
}
.top-bar-section .dropdown label {
  padding: 8px 15px 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #555;
  font-weight: 700;
  font-size: .625em;
}
.top-bar-js-breakpoint {
  width: 47.9375em !important;
  visibility: hidden;
}

/* Tooltip Styles */
.has-tip {
  border-bottom: none;
  cursor: pointer;
  color: #333333; }
  .has-tip:hover, .has-tip:focus {
    border-bottom: none;
     }
  .has-tip.tip-left, .has-tip.tip-right {
    float: none !important; }
.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: black;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1.4em; }
  .tooltip > .nub {
    display: block;
    left: 5px;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent black transparent;
    top: -9px; }
/* Coming Soon tooltip */
body.has-tip {
  border-bottom: none;
  cursor: pointer;
  color: #333333; 
}  
body.has-tip:hover, body.has-tip:focus {
  border-bottom: none;
}
body.tooltip {
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  color: white;
  background: #83000f;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: -1.8em; 
}
  body.tooltip > .nub {
  left: 5px !important;
  border: solid 5px;
  border-color: transparent transparent #83000f transparent;
  top: -9px !important; 
}

/* Utility Classes */
.contain-to-grid {
  width: 100%;
  background: #383c3a;
}
.js-generated {
  display: block;
}
.date { /* !!!!! THIS NEEDS TO BE RENAMED REALLY BADLY !!!!! Is currently specific to athlete profile */
  text-align: right;
}
.rightAlign {
  text-align: right;
}
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
.noReally { /* Research new name */
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}
div.clickable { /* Clickable DIVs Containing div must have a position value */
    position:relative;
}
div.clickable a {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:10; /* raises anchor tag above everything else in div */
    /*opacity: 0; workaround to make clickable in IE */
    filter: alpha(opacity=1); /*workaround to make clickable in IE */
}


/*===================
      STATE RULES    
  ===================*/ 

/* Not sure why this is an empty media query. Will look into */
@media only screen {
    html {margin-top: 4em;} /* Shitty Nav Fix */
    .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    }
    .button:active {
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    }
    .button.radius {
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }
    .button.round {
        -webkit-border-radius: 1000px;
        border-radius: 1000px;
    }
}

/* 768px & larger - Revist this Media Query, does it make sense?*/
@media only screen and (min-width:48em) {
  html {/* Shitty Nav Fix */
    margin-top: 1.5em;
  } 
  .button {
    display: inline-block;
  }
  /* Top Bar Crap. Can I take this out? Research */
  .top-bar {
    background: #383c3a;
    *zoom: 1;
    overflow: visible;
  }
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }
  .top-bar:after {
    clear: both;
  }
  .top-bar .toggle-topbar {
    display: none;
  }
  .top-bar .title-area {
    float: left;
  }
  .top-bar .companyName h1 a {
    width: auto;
  }
  .top-bar input, .top-bar .button {
    line-height: 2em;
    font-size: .875em;
    height: 2em;
    padding: 0 10px;
    position: relative;
    top: 8px;
  }
  .top-bar.expanded {
    background: #383c3a;
  }
  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto;
  }
  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important;
  }
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
  .top-bar-section ul li {
    float: left;
  }
  .top-bar-section ul li .js-generated {
    display: none;
  }

  .top-bar-section li a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: #383c3a;
    -webkit-transition: background .25s ;
    -moz-transition: background .25s ;
    -ms-transition: background .25s ;
    -o-transition: background .25s ;
    transition: background .25s ;
  }

  .top-bar-section li a:not(.button):hover {
    background: #222;
  }
  .top-bar-section .has-dropdown > a {
    padding-right: 35px !important;
  }
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    margin-top: -2.5px;
  }
  .top-bar-section .has-dropdown.moved {
    position: relative;
  }
  .top-bar-section .has-dropdown.moved > .dropdown {
    visibility: hidden;
  }
  .top-bar-section .has-dropdown:hover > .dropdown, .top-bar-section .has-dropdown:active > .dropdown {
    visibility: visible;
  }
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      margin-top: -7px;
      right: 5px;
  }
  .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%}
  .top-bar-section .dropdown li a {
      color: #fff;
      line-height: 1;
      white-space: nowrap;
      padding: 7px 15px;
      background: #444947;
  }
  .top-bar-section .dropdown li label {
      white-space: nowrap;
      background: #444947;
  }
  .top-bar-section .dropdown li .dropdown {
      left: 100%;
      top: 0;
  }
  .top-bar-section > ul > .divider {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #515654;
      border-left: solid 1px #1f2221;
      clear: none;
      height: 45px;
      width: 0;
  }
  .top-bar-section .has-form {
      background: #383c3a;
      padding: 0 15px;
      height: 45px;
  }
  .top-bar-section ul.right li .dropdown {
      left: auto;
      right: 0;
  }
  .top-bar-section ul.right li .dropdown li .dropdown {
      right: 100%
  }
  .top-bar-section ul li > a:hover {
      background: #2b2b2b;
      color: #fff;
  }
  .top-bar-section ul li.active a {
      background: #383c3a;
      color: #fff;
  }

  /* Roster stuff. research if you can remove */
  .roster-name .date {
    text-align: right;
  }
  .roster-metrics .metric {
    font-size: 7em;
  }
  .rosters .rosterRow {
    height: 28em;
    overflow-y: scroll;
  }
}

/*Profile Page*/
.playaImage {
  width: 14%;
}
.playaInfo {
  width: 19%;
}
h5.name {
  font-size: 24px;
  margin-bottom: 1.5em;
}
.catBoxes {
  padding-top: .5em;
  /*border: 1px solid black;*/
}

/* 786px & below */
@media only screen and (max-width:48em) {
    html {margin-top: 1.5em;} /* Shitty Nav Fix */
    .whoops h1 { /* Well that's just like, your opinion, man. */
        font-size: 10rem;
    }

    canvas { /* temporary chart.js fix */
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
    }

    /* werkin dem mobile metrics */
    .athleteMetrics .section-container>section .title a {
        font-size: 1rem;
    }
    .statRow > .panel {
        min-height: 4em;
        max-height: 4em;
        padding:.2em;
    }
    .statRow > .panel h2 {
        font-size: 1.6rem;
    }
    .statRow > .panel p {
        font-size: .6rem;
        margin-bottom: 0;
        line-height: .8rem;
    }
    .graphIcon a {
        background-size: 50px 40px;
        margin-top: .5em;
    }
    .graphIcon:hover a {
        background-size: 50px 40px;
        margin-top: .5em;
    }
    .panel.dark.graphIcon:hover a {
        background-size: 50px 40px;
        margin-top: .5em;
    }
    .graphHeader h2 {
        margin: .4em auto;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .playaImage {
      width: 25%;
    }
    .playaInfo {
      width: 30%;
    }
}
